version: '3.8'

services:
  # ==========================================
  # BANCO DE DADOS (PostgreSQL)
  # ==========================================
  db:
    image: postgres:15-alpine
    container_name: edital_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: hemovida_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # ==========================================
  # STORAGE S3 (MinIO)
  # ==========================================
  minio:
    image: minio/minio
    container_name: edital_minio
    restart: always
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  minio_data: